AIRuntime

Проект развёрнут

Проект: {{ project_name }}
Статус: Live
{% if project_url %}Публичная ссылка: {{ project_url }}
{% endif %}{% if open_url %}Открыть проект: {{ open_url }}
{% endif %}
{{ frontend_url }}
